*{
	margin: 0%;
	/*border: 1px solid red;*/	
}
.nav{
	margin-top: 2%;
}

.nav a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	text-align: center;
	padding: 2%;

}
.logo{
	margin-left: 2%;
}
.nav img{
	vertical-align:middle;

}
#sign1{
	background-color: #00baf2;
	color: white;
	padding: 0.7%;
	border-radius: 25px;
	margin-left: 8%;
}
.para{
text-align: center;
margin-top: 20px;
border-color: whitesmoke;
background-color: rgb(235, 235, 235);
padding: 1%;
}
.img1{
	width: 12%;
	margin-left: 4%;
}
.head2{
	font-size: 55px;
	padding: 1%;

}
.para2{
	font-size: 25px;
	margin-top: 1%;
	padding: 2%;
	
}
.sec1{
	display: flex;
	margin: 8% 1% 10% 1%;
	padding: 1%;

}
.head1{
		margin:1%;
		 font-family: 'Poppins', sans-serif;;
}

	#link{
       text-decoration: none;
  
}

	

